.highlight pre{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    font-size: 75%;
}

.docutils.literal{
    color: #4db6ac;
    padding: 1px 4px;
    margin: 0 -2px;
    border-radius: 2px;
}

a {
    color: #4db6ac;
}

a.reference {
    border-bottom: 1px dotted #4db6ac;
}

a.reference:hover {
    border-bottom: 1px solid #37827b;
}

a:hover {
    color: #37827b;
}


h1 {
    margin: 30px 0px 10px 0px !important;
}


.brython-out{
    text-align: center;
    padding: 15px;
    border: 1px solid #eee;
    margin-top: -16px;
    border-radius: 0px 0px 2px 2px;
    width: -moz-available;
    width: -webkit-fill-available;
}


.brython-out *{

    margin: 0 auto;

    display: inline-flex;

}

.body {
    max-width: unset !important;
}


img.logo{

width: 210px;

}
