<html class="mdc-typography">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title></title>


        {% include "radiant/mdc.html" %}

    </head>
    <body>



<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">Radiant Framework</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <!--<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Download" alt="Download">file_download</a>-->
      <!--<a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page" alt="Print this page">print</a>-->
      <a href="#" class="material-icons mdc-top-app-bar__action-item">favorite</a>
    </section>
  </div>
</header>


<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header mdc-theme--primary-bg mdc-theme--on-primary">
      <div class="mdc-drawer__header-content">
        <!--Header here-->
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item mdc-list-item--activated" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
      </a>
    </nav>
  </nav>
</aside>



<div style='padding: 15px; padding-top: 56px;'>


<h2 class='mdc-typography--headline6' style='color: #00867C; '>A Python Framework for Android Apps Development</h2>

<p class='mdc-typography--body1'>
This APP was made with <a class='my_link RDNT-open_url' target='_blank' href='https://www.djangoproject.com/'>Django</a> and <a class='my_link RDNT-open_url' target='_blank' href='https://material.io/develop/web/'>Material Design Components</a>
through <a class='my_link RDNT-open_url' target='_blank' href='https://radiantforandroid.bitbucket.io/'>Radiant Framework</a>.
</p>


<a  href='/debug' class="mdc-button">
  <i class="material-icons mdc-button__icon" aria-hidden="true">bug_report</i>
  Django Debug
</a>



</div>




<script type="text/javascript">

 (function() {
   $(document).ready(function() {

     topAppBar = new mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
     drawer = new mdc.drawer.MDCTemporaryDrawer.attachTo(document.querySelector('.mdc-drawer'));
     topAppBar.listen('MDCTopAppBar:nav', function() {drawer.open = !drawer.open});

     window.mdc.autoInit();

   });

  }).call(this);

</script>





    </body>
</html>
